<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create')">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<nav th:replace="fragments/head :: navbar"></nav>
<div class="container">
    <form th:action="/posts/create" th:method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" type="text">
        <label for="description">Description</label>
        <input id="description" name="description" type="text">
        <button class="btn btn-primary">Post</button>
    </form>
</div>
</body>
</html>