<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Show')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="fragments/head :: navbar"></nav>
<div class="container">
    <h1 class="single-post-title">DRAMA</h1>
    <div th:if="${p == null}">
        <p>Post Not Found!</p>
    </div>
    <div th:if="${p}">
        <h2 th:text="${p.title}"></h2>
        <p th:text="${p.body}"></p>
        <div>Created by <span th:text="${p.owner.username}"></span></div>
        <div th:if="${#authentication.getPrincipal().isAdmin()}" id="button-container"
             class="center-align">
            <form th:action="${'/posts/'+ p.id +'/edit'}" th:method="GET" th:object="${p}">
                <button id="edit-button"
                        class="button-style blue-grey darken-4 btn waves-effect waves-light">Editf
                </button>
            </form>
        </div>
    </div>
    <div id="disqus_thread"></div>
</div>
<footer th:replace="fragments/head :: footer"></footer>
<script th:replace="fragments/head :: comment-box"></script>
</body>
</html>