<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap"
          rel="stylesheet">
</head>
<body>

<header th:fragment="header">
    <p>This is a header!!</p>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" href="/">
        <div>
            <h1 class="title">
                DRAMA DUNGEON
            </h1>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
               sec:authorize="isAuthenticated()">Welcome drama queen, <span th:text="${#authentication.principal.username}"/></a>
            <a class="nav-item nav-link" href="/sign-up" sec:authorize="!isAuthenticated()">Sign-Up!</a>
            <a class="nav-item nav-link" href="/posts">Posts</a>
            <a class="nav-item nav-link" href="/posts/create">Create</a>
            <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login</a>
            <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </div>
    </div>
</nav>
<script th:fragment="comment-box">

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://hobbyist.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript th:fragment="comment-box"><a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<footer th:fragment="footer">
    Copyright &#169; DRAMA DUNGEON 2020
</footer>
</body>
</html>