<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<header th:fragment="header">
    <p>This is a header!!</p>
</header>

<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <form action="/search">
            <input type="text" name="search" placeholder="Search term">
            <button class="btn btn-primary">Search</button>
        </form>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign-up">Sign-Up!</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/create">Create</a></li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.principal.username}"/>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>

<footer th:fragment="footer">
    <p>This is a footer!!</p>
</footer>
</body>
</html>