.logo {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}
.card-body {
    color: #333;
}
body {
    background-color: #001935;
    color: #fff;
    /*font-family: 'Bebas Neue', cursive;*/
    /*font-family: 'Poppins', sans-serif;*/
}