<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Roll-Dice | Home')">
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
    <nav th:replace="fragments/head :: navbar"></nav>
<div class="container">
    <h1>Pick a Number</h1>
    <h1>Your Number: <span th:text="${n}">0</span></h1>
    <h1>Random Number: <span th:text="${random}">0</span></h1>
    <h1><span th:if="${guessed}">You Guessed the Number!!</span></h1>

    <h2><a href="/roll-dice/1">1</a></h2>
    <h2><a href="/roll-dice/2">2</a></h2>
    <h2><a href="/roll-dice/3">3</a></h2>
    <h2><a href="/roll-dice/4">4</a></h2>
    <h2><a href="/roll-dice/5">5</a></h2>
    <h2><a href="/roll-dice/6">6</a></h2>

    <footer th:replace="fragments/head :: footer"></footer>
</div>
</body>
</html>